<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>BibliotecaSEC</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Bienvenidos</h1>
         <p>A continuación, podrás observar los libros que fueron premiados como BEST SELLERS</p>
            
        </header> 
        <aside>
            <h1>Video Marian Rojas Estapé</h1>
            <p>Psicóloga muy reconocida mundialmente</p>
            
            
        </aside>
        <section>
            
            <article>
                <h3>Libro Marian Rojas </h3>
                <iframe width="1000" height="600" src="https://www.youtube.com/embed/rGEPHYKq5VY?si=t-u63vrOOXpIcFA2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            
            <h2>BEST SELLERS</h2>
            <!-- Carga de imagen quizá ya descargada y guardada en mi equipo y jalandola a la carpeta img, y se le da el tamaño que gustemos... -->
            <img src="../static/img/El principito.jpg" width="200" alt="100"/>
            <img src="../static/img/Libro Animales Polares.jpg" width="200" alt="100"/>
            <img src="../static/img/Libro Marian Rojas.jpg" width="200" alt="100"/>
            <img src="../static/img/Libro Ocean National Geographic.jpg" width="200" alt="100"/>
            
        </section>
        <footer>
            Todos los Derechos Reservados BibliotecaSEC 2025 &COPY;
        </footer>

    </body>
</html>
